html {
    margin: 0;
    padding: 0;
}

.d-sm-none {
    display: none;
}

.first-logo {
    width: 105px;
    height: 48px;
    border: 1px solid black;
}

.d-flex {
    width: 96px;
    height: 48px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.icon-sm {
    border: 1px solid black;
    height: 48px;
    width: 48px;
    justify-self: center;
    align-self: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    

}